.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#button1 {
    background: rgb(37 39 37 / 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 51%;
    color: white;
    margin: 1em;
    line-height: 3em;
    font-family: 'Junge', serif;
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

#button2 {
    border: 1px solid #676161;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 51%;
    color: #272222;
    margin: 1em;
    line-height: 3em;
    font-family: 'Junge', serif;
    text-align: center;
    letter-spacing: 0.2em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0);
}

input {
    background: #e0e4f5;
    border: 1px solid #7b7575;
    border-radius: 30px;
    color: black;
    font-family: 'Junge', serif;
    text-align: center;
    letter-spacing: 0.2em;
    width: 50%;
    margin: 1em;
    line-height: 3em;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        justify-content: normal;
    }

    .login-container {
        width: 100%;
    }

    .logo {
        width: 100%;
        font-size: 18px;
    }

    form {
        margin: auto;
    }

    img {
        margin: 2em;
    }

    input {
        margin: 0.5em;
        font-size: 18px;
        width: 70%;
    }

    #button1 {
        margin: 0.5em;
        font-size: 18px;
        width: 71%;
    }

    #button2 {
        margin: 0.5em;
        font-size: 18px;
        width: 71%;
    }
}